# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-weaviate
weaviate-client==4.23
langchain
langchain-text-splitters
langchain-core
apache-airflow-providers-common-ai[llamaindex]
apache-airflow-providers-atlassian-jira
pyarrow
mistletoe